/* Custom select */
.custom-select {
  position: relative;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #000;
  height: 58px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #000;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  border: 1px solid #000;
  border-top: 0;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #000;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}

/* Dropdown arrow */
.arrow {
  position: relative;
  height: 12px;
  width: 12px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 1px;
  height: 100%;
}
.arrow::before {
  left: -4px;
  transform: rotate(-45deg);
  background-color: #000;
}
.arrow::after {
  left: 4px;
  transform: rotate(45deg);
  background-color: #000;
}

/* Custom select wrapper */
.custom-select-wrapper {
  max-width: 340px;
}